body {
  user-select: none;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
}

.container {
  width: 700px;
  margin: 30px auto;
  background-color: white;
  padding: 10px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-row h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.header-row button {
  background: none;
  border: none;
  font-size: 14px;
  color: #007BFF;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 12px;
  font-size: 14px;
}

td {
  vertical-align: middle;
}

td:first-child,
td:nth-child(3) {
  width: 100px;
  font-weight: 500;
  color: #444;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #c9a94d;
  outline: none;
}

button {
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #e6e6e6;
}

button:active {
  background-color: #dcdcdc;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.actions-right {
  display: flex;
  gap: 8px;
}

.registerRequestBtn:hover {
  background-color: #f6f6f6;
}

.editBtn  {
  background-color: #f2c198;
  color: #333;
  font-weight: 500;
}

.editBtn:hover  {
  background-color: #ff7300;
}

a {
  color: #007BFF;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}
